/* overrides the official way */
:root {
  --links: pink;
  --text-muted: #aeaeae;
}

/* overrides the unoficcial way */
body {
  max-width: none;
  overflow-y: scroll;
  margin-bottom: 0;
}

h1 {
  font-size: 1.9em;
  font-weight: 300;
}
h2 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;
  padding: 7px 0 14px 0;
}

.menu > [aria-current="page"],
.menu > a:hover {
  display: inline-block;
  border-bottom: 2px solid pink;
  margin-bottom: 0;
}
.menu > a {
  margin-bottom: 2px;
  margin-left: 0.5em;
  text-decoration: none !important;
  font-size: 1.15em;
  font-weight: 300;
}

button:focus {
  box-shadow: none;
}
