/* overrides the official way */
:root {
  --links: #abcaf2;
  --text-muted: #aeaeae;
}

/* overrides the unoficcial way */
body {
  max-width: none;
  margin-bottom: 0;
}

h1 {
  font-size: 1.9em;
  font-weight: 300;
  margin: 0;
}
h2 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;
  margin: min(3vw, 30px) 0 min(2vw, 30px) 0;
}
h3 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 200;
}
p {
  text-align: center;
  font-weight: 300;
}
a {
  text-decoration: none !important;
}
button {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(63, 63, 63, 0.5);
  font-weight: 300;
}
button:focus {
  box-shadow: none;
}

.menu > [aria-current="page"],
.menu > a:hover {
  display: inline-block;
  border-bottom: min(0.5vw, 1.5px) solid #abcaf2;
  margin-bottom: 0;
}
.menu > a {
  margin-bottom: min(0.5vw, 1.5px);
  margin-left: 3vw;
  font-weight: 300;
}
.menu > a:nth-child(1) {
  margin-left: 0;
}
